/*-------------[ CSS - Worddip! ]-------------------------------
Master CSS File 
Author: John Moore
Date: 9/1/2013

INDEX:
00 - RESET
01 - BOOTSTRAP CSS
02 - FONT STACK IMPORTS
03 - CUSTOM CSS
     a. Global Styles
	 b. Wrapper Styles
	 c. Header Styles
	 d. Navigation Styles
	 e. Content Styles
	 f. Footer Styles
     g. Custom Classes
	 
COLOR PALETTE:
----------------------------------------------------------------------*/

/*-------------[ 00 - BEGIN RESET ]-----------------------------------*/
@import url(normalize.css); 
/*-------------[ 00 - END RESET ]-------------------------------------*/


/*-------------[ 01 - BEGIN BOOTSTRAP ]-------------------------------*/
    /* Boostrap 3.0.0 RC2 Minified CDN included as link src */
/*-------------[ 01 - END BOOTSTRAP ]---------------------------------*/


/*-------------[ 02 - BEGIN FONT STACK IMPORTS ]----------------------*/
@import url(http://fonts.googleapis.com/css?family=Text+Me+One); 
	/* font-family: 'Text Me One', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Abel); 
	/* font-family: 'Abel', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Bubbler+One); 
	/* font-family: 'Bubbler One', sans-serif; */
/*-------------[ 02 - END FONT STACK IMPORTS ]------------------------*/


/*-------------[ 03 - BEGIN CUSTOM CSS ]------------------------------*/

/* a. Global Styles */
img, img.scale-with-grid { 
    outline: 0; 
	max-width: 100%; 
	height: auto;
	/* make all images responsive */ 
}
html {
    min-height: 100%
    /* stretch height of background to fill window */
}
body  {
	font-family: 'Text Me One', sans-serif; 
	background: rgb(244,199,48); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YzczMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYzODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(244,199,48,1) 0%, rgba(255,243,137,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,199,48,1)), color-stop(100%,rgba(255,243,137,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,199,48,1) 0%,rgba(255,243,137,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(244,199,48,1) 0%,rgba(255,243,137,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(244,199,48,1) 0%,rgba(255,243,137,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(244,199,48,1) 0%,rgba(255,243,137,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c730', endColorstr='#fff389',GradientType=0 ); /* IE6-8 */
	/* Gradient Background for All Broswer Types */
}
#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    /* WordDip! Logo Centered */
}
#wrapper {
	max-width: 480px;
	margin: 0 auto;
}

/* b. Wrapper Styles */

/* c. Header Styles */

/* d. Navigation Styles */

/* e. Content Styles */

/* f. Footer Styles */

/* g. Custom Classes */


/*-------------[ 03 - END CUSTOM CSS ]--------------------------------*/