body{
	background:url(../files/images/pattern.png) repeat;
	margin:0 0 0 0;
}
img{ 
	behavior: url("iepngfix.htc") 
}
.top_bg{
	background:url(../files/images/top_bg.png) repeat-x;
	height:139px; 
}
.admin_login_logo_T_01{
	background:url(../files/images/admin_login_logo_T_01.png) no-repeat;
    behavior: url("iepngfix.htc");
	width:454px;
	height:29px;
}
.admin_login_logo_T{
	background:url(../files/images/admin_login_logo_T_02.png) no-repeat;
    behavior: url("iepngfix.htc");
	width:454px;
	height:83px;
}

.admin_login_logo_T_iclient{
	background:url(../files/images/admin_iclient_logo.png) no-repeat;
    behavior: url("iepngfix.htc");
	width:454px;
	height:112px;
}
.admin_login_logo_M{
    behavior: url("iepngfix.htc");
	width:446px;
	height:100px;
	border-left:#054084 solid 4px;
	border-right:#054084 solid 4px;	

}
.admin_login_logo_B{
	background:url(../files/images/admin_login_logo_B.png) no-repeat;
    behavior: url("iepngfix.htc");
	width:454px;
	height:82px;
}
.error_msg{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#FF0000;
	
}
.user_name{
	width:66px; 
	vertical-align:middle;	
}

.box_1{
	background:url(../files/images/inputbox.png) no-repeat;
	width:343px;
	height:34px;
	border:none;
    behavior: url("iepngfix.htc");
	outline: none;
	vertical-align:middle;

}
.box_2{
	width:332px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	background:none;
	outline:none;
	border:none;
	
}
.box{
	background:url(../files/images/login.png) no-repeat;
	width:159px;
	height:39px;
	border:none;
	cursor:pointer;
    behavior: url("iepngfix.htc");
}
.bot_bg{
	border-top:#054084 solid 2px;
	height:29px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#b7dcff;
	text-align:right;
}
.bot_bg table{
	float:right;
}